! vim: ft=xdefaults
!
!     __   __
!     \ \ / /
!      \ V / _ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!      /   \| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!    _/ /^\ \ | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!   (_)/   \/_|  \___||___/\___/ \__,_|_|  \___\___||___/
!
!   ~/.Xresources
!   User-level configuration parameters for X client applications
!
! Wrtitten to work on *most* GNU/Linux distributions.
! Things not working or WIP are commented out. Unless I forgot.
! Much of what follows has been "stolen" from many places over the years and
! tweaked to suit my workflow and personal preferences; feel free to do the same.
!
! Remember, like with all of my work, I am only able to provide the following
! assurance(s):
! It is almost certainly going to work until it breaks; although I have to
! admit it may never work and that would be sad.
! When/if it does break, you may keep all of the pieces.
! If you find my materials helpful, both you & I will be happy, at least for a
! little while.
! My advice is worth every penny you paid for it!
!
! by:
! Giuseppe (mhsalvor) Molinaro
! g.molinaro@linuxmail.org
! https://githup.com/mhsalvor
!!!

!=== Font Rendering ===#

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
! This may be different on your system. Use a monitor test to find the correct value.
! rgb is the most common.
Xft.rgba: rgb
! autohint is not advised for modern fonts.
Xft.autohint: false
! hintslight = fuzzyer fonts, better shapes; hintfull = crispier fonts, wosrt shapes
! default is hintslight
Xft.hintstyle: hintsfull
! Subpixel rendering a.k.a "ClearType" or "Harmony" on Windows
! lcddefault should work for most users, use lcdlight if the fonts look too bold or fuzzy
Xft.lcdfilter: lcddefault

!=== Mouse ===!

Xcursor.theme: xcursor-breeze
Xcursor.size: 0

!=== XTerm ===!

XTerm*background:   #222D31
XTerm*foreground:   #d8d8d8
XTerm*pointerColor: #1ABB9B
XTerm*faceName: xft:Mononoki Nerd Font
Xterm*renderFont: true
XTerm*faceSize: 10
Xterm*utf8: 2
Xterm*locale: true
XTerm*reverseVideo: off
XTerm*selectToClipboard: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!=== URxvt ===!

Urxvt*imLocale: it_IT.UTF8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false

Urxvt.intensityStyles: false
URxvt.font: xft:TerminessTTFNerdFontMono
URxvt.depth: 32
URxvt.background: [90]#222D31
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*background: black
URxvt*foreground: grey
URxvt*saveLines: 5000

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
!Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B

!=== CMaia Xresources palette ====!

*background:                      #222D31
*foreground:                      #d8d8d8
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #222D31
*color8:                          #585858

!! red dark/light
*color1:                          #ab4642
*color9:                          #bf616a

!! green dark/light
*color2:                          #7E807E
*color10:                         #8D8F8D

!! yellow dark/light
*color3:                          #f7ca88
*color11:                         #ebcb8b

!! blue dark/light
*color4:                          #7cafc2
*color12:                         #81a1c1

!! magenta dark/light
*color5:                          #ba8baf
*color13:                         #b48ead

!! cyan dark/light
*color6:                          #1ABB9B
*color14:                         #8fbcbb

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:  #f99157
*.color17:  #d27b53
*.color18:  #393939
*.color19:  #515151
*.color20:  #a09f93
*.color21:  #e8e6df

!!!EOF!!!
